<h1>Welcome to Neptune Chess</h1>
<div id="board" style="width: 400px"></div>
<div id="choose_white" class="choose_seat button disabled" title="white">White</div>
<div id="choose_black" class="choose_seat button disabled" title="black">Black</div>

<script type="text/javascript">
	// If the user has no player id, create one
	var playerID = $.cookie("player_id");
	if (!playerID) {
		playerID = generatePlayerId();
		$.cookie("player_id", playerID)
	}
	var game = new Chess(); 
	board = new ChessBoard('board', 
		{
	  draggable: true,
	  onDrop: onDrop,
	  onDragStart: onDragStart,
	  onSnapEnd: onSnapEnd,
	  showNotation: false,
	  pieceTheme: '/images/chesspieces/alpha/{piece}.png'
		}
	);

	initializeBoard();
	
	// Check for update to the game
	setInterval(function(){
		$.get(
	  		"/game",
	  		{playerID: playerID},
		  	function(data){
		  		if(data["seats_available"].length == 0){
			  		// Match local fen to server fen
			  		if(!(data["fen"] == board.position)){
			  			board.position(data["fen"]);
			  			game.load(data["fen"]);
			  			$(".choose_seat").addClass("hidden");
			  		}
			  	} else {
			  		$(".choose_seat").each(function() { 
			  			if (data["seats_available"].indexOf(this.title) == -1) {
			  				$(this).addClass("disabled");		
			  			}
			  		})
			  	}
		  	}
	  	)
	},5000);
</script>