<h1>Welcome to Neptune Chess</h1>
<div id="board" style="width: 400px"></div>
<div id="choose_white" class="choose_seat button disabled" title="white">White</div>
<div id="choose_black" class="choose_seat button disabled" title="black">Black</div>

<script type="text/javascript">
	// If the user has no player id, create one
	var player = new Player();
	player.setId();

	var game = new Game(player);
	
	// Check for updates to the game every x milliseconds
	setInterval(function(){game.update()}, 1000);
</script>