<h1>Welcome to Neptune Chess</h1>
<div id="board" style="width: 400px"></div>
<div id="choosewhite" onclick="chooseColor('white');" class="button">White</div>
<div id="chooseblack" onclick="chooseColor('black');" class="button">Black</div>

<script type="text/javascript">
	// If the user has no player id, create one
	var playerID = $.cookie("player_id");
	if (!playerID) {
		playerID = generatePlayerId();
		$.cookie("player_id", playerID)
	}
	var game = new Chess(); 

	initializeBoard();
	
	// Check for update to the game
	setInterval(function(){
		$.get(
	  		"/game",
	  		{playerID: playerID},
		  	function(data){
		  		if(data["seats_available"].length == 0){
			  		// Match local fen to server fen
			  		if(!(data["fen"] == board.position)){
			  			board.position(data["fen"])
			  		}
			  		// Check if it's your turn
			  		if(data["turn"] == my_color){
			  			board.draggable = true;
			  		}
			  	}
		  	}
	  	)
	},1000);
</script>