<h1>Welcome to Neptune Chess</h1>
<div id="board" style="width: 400px"></div>
<div id="choosewhite" onclick="chooseColor('white');">White</div>
<div id="chooseblack" onclick="chooseColor('black');">Black</div>

<script type="text/javascript">
	// If the user has no player id, create one
	var playerID = $.cookie("player_id");
	if (!playerID) {
		playerID = generatePlayerId();
		$.cookie("player_id", playerID)
	}
	var my_color = "";
	var game = new Chess(); 
  var board = new ChessBoard('board', 
		{
			draggable: true,
      onDrop: onDrop,
			onDragStart: onDragStart,
      onSnapEnd: onSnapEnd,
			showNotation: false,
			pieceTheme: '/images/chesspieces/alpha/{piece}.png'
		});
  updateStatus();
  

	// Initialize board
	var cfg = {}
	$.get(
		"/game",
		{playerID: playerID},
		function(data){
			my_color = data["user_color"];
			if (data["seats_available"].length > 0){
				// If seat(s) are available, offer one to the user
				data["seats_available"].forEach(function(seat) {
					$("#choose"+seat)[0].style.visibility = "visible";
					});
			}
	  		else {
	  			// Display board
  				board.draggable = (data["turn"] == my_color);
				board.position(data["fen"]);
	  		}
		}
	);
	
	// Check for update to the game
	setInterval(function(){
		$.get(
	  		"/game",
	  		{playerID: playerID},
		  	function(data){
		  		if(!data["seats_available"].length > 0){
			  		// Match local fen to server fen
			  		if(!(data["fen"] == board.position)){
			  			board.position(data["fen"])
			  		}
			  		// Check if it's your turn
			  		if(data["turn"] == my_color){
			  			board.draggable = true;
			  		}
			  	}
		  	}
	  	)
	},10000);
</script>