<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p><%= @move %>
<p>Session: <%= session[:signed_in_at] %>
<div id="board" style="width: 400px"></div>
<script type="text/javascript">
	var onChange = function(oldPos, newPos) {
	  console.log(oldPos, " --- ", newPos)
	  console.log("Position changed:");
	  console.log("Old position: " + ChessBoard.objToFen(oldPos));
	  console.log("New position: " + ChessBoard.objToFen(newPos));
	  console.log("--------------------");
	  $.post(
	  	"/welcome/change", 
	  	{new_pos: ChessBoard.objToFen(newPos), old_pos: ChessBoard.objToFen(oldPos)},
	  	function(data){
	  		board.position(data.new_pos)
	  		}
	  	);
	};


	var cfg = {
	    draggable: true,
	    onChange: onChange,
			pieceTheme: '/images/chesspieces/alpha/{piece}.png',
	  	position: 'start'
	};
	var board = new ChessBoard('board', cfg);

</script>