// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chooseWhite, #chooseBlack {
	visibility:hidden;
}

.button {
  padding: 10px;
  background-color: #127905;
  color: white;
  text-shadow: 2px 2px gray;
  display: inline-block;
  cursor: pointer;
  }

.button.disabled {
    background-color: gray;
    cursor: pointer;
}
